@using OrganizatorENTİTY
@using OrganizatorBLL
@using OrganizatorUI.Models
@model OrganizasyonModell
@{
    List<Categories> cat = CategoriesBLL.getCategories();
    Organizasyon org = OrganizasyonBLL.GetOrganizasyon();
    List<Organizasyon> organizasyons = OrganizasyonBLL.organizasyons();

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<body>
    <div class="hero-content">
        <div class="container">
            <div class="row">
                <div class="col-12 offset-lg-2 col-lg-10">
                    <div class="entry-header">
                        <h2>Hello world!</h2>
                        <div class="entry-meta-date">
                            06.28.018
                        </div><!-- .entry-meta-date -->
                    </div><!-- .entry-header -->
                    <div class="countdown flex flex-wrap justify-content-between" data-date="">
                        <div class="countdown-holder">
                            <div class="dday"></div>
                            <label>Days</label>
                            <label>@org.Application_date.Day</label>
                        </div><!-- .countdown-holder -->
                        <div class="countdown-holder">
                            <div class="dhour"></div>
                            <label>Hours</label>
                            <label>@org.Application_date.Hour</label>
                        </div><!-- .countdown-holder -->
                        <div class="countdown-holder">
                            <div class="dmin"></div>
                            <label>Minutes</label>
                            <label>@org.Application_date.Minute</label>
                        </div><!-- .countdown-holder -->
                        <div class="countdown-holder">
                            <div class="dsec"></div>
                            <label>Seconds</label>
                            <label>@org.Application_date.Second</label>
                        </div><!-- .countdown-holder -->
                    </div><!-- .countdown -->
                </div><!-- .col-12 -->
            </div><!-- row -->
            <div class="row">
                <div class="col-12 ">
                    <div class="entry-footer">
                        <a href="/Organizasyon/organizationrecord/@org.ID" class="btn">Organizasyon'a Kaydol</a>
                        <a href="/Organizasyon/InsertOrganizasyon" class="btn current">Organizasyon Oluştur</a>
                    </div>
                </div>
            </div>
        </div><!-- .container -->
    </div><!-- .hero-content -->
    <div class="content-section">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="the-complete-lineup">
                        <div class="entry-title">
                            <p>JUST THE BEST</p>
                            <h2>KATEGORİLER</h2>
                        </div><!-- entry-title -->
                        <div class="row the-complete-lineup-artists">
                            @foreach (var item in cat)
                            {
                                <div class="col-6 col-md-4 col-lg-3 artist-single">
                                    <figure class="featured-image">

                                        <a href="#">
                                            <img src="@item.Picture" alt="">

                                        </a>
                                        <a href="#" class="box-link">
                                            <img src="~/Content/images/box.jpg" alt="">

                                        </a>

                                        <h2>@item.CategoriesName</h2>

                                    </figure>
                                </div>





                            }
                        </div>
                        <!-- row -->
                    </div>
                </div>
            </div><!-- container -->
            <div class="homepage-next-events">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="entry-title">
                                <p>JUST THE BEST</p>
                                <h2>ORGANİZASYONLAR</h2>
                            </div><!-- entry-title -->
                        </div><!-- col-12 -->
                    </div><!-- row -->
                </div><!-- container -->
                <div class="next-event-slider-wrap">
                    <div class="swiper-container next-event-slider">

                        <div class="swiper-wrapper">
                            @foreach (Organizasyon item in organizasyons)
                            {
                                <div class="swiper-slide">
                                    <div class="next-event-content">

                                        <figure class="featured-image">
                                            <img src="@item.Picture" alt="">

                                            <a href="/Organizasyon/OrganizasyonDetail/@item.ID" class="entry-content flex flex-column justify-content-center align-items-center">
                                                <h3>@item.OrganizasyonName</h3>
                                                <p></p>
                                            </a>
                                        </figure><!-- featured-image -->
                                    </div>
                                    }<!-- next-event-content -->
                                </div>}
                        </div>

                        <!-- .swiper-wrapper -->
                    </div><!-- .swiper-container -->
                    <div class="swiper-button-next">
                        <img src="
~/Content/images/button.png" alt="">
                    </div><!-- .slider-button -->
                </div><!-- .next-event-slider-wrap -->
            </div><!-- homepage-next-events -->

        </div>
    </div>
</body>